.wrapper {
    padding-top: 50px;
    background: url("../screen/background.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    text-align: center !important;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}