.card {
    background: #fff;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

.card>.img {
    overflow: hidden;
    text-align: center;
    background: #fff;
    justify-content: center;  
    margin: 15px;   
}

.card>.img:hover {
  box-shadow: 0 8px 8px rgb(119, 116, 116);
  cursor: pointer;
}

.card>.img>img {
    width: 200px;   
}